$max-height: 1080px;

@import "../../styles/variables";

.Resume {
  display: grid;
  place-items: center;
  height: 100vh;

  .container {
    background-size: 4px 4px;
    display: grid;
    grid-template-rows: $pattern-height calc(100% - 2 * #{$pattern-height}) $pattern-height;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 100vh;
    @media screen and (min-height: $max-height) {
      max-height: $max-height;
    }
  }
}
