.content {
  padding: 1rem;
}

.title {
  font-size: 2rem;
}
.subtitle {
  margin-bottom: var(--h3-margin);
  font-size: 1.2rem;
}

.info {
  margin-bottom: var(--h3-margin);
  text-align: right;
  a {
    margin: 0 5px;
  }
}

.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb3 {
  margin-bottom: 3rem;
}

.history {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
  margin-bottom: 1rem;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    & > p {
      width: 100%;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
    .info {
      width: 100%;
      text-align: left;
    }
  }
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
